/* custom css on top off bootstrap */

body {
    background-color: #FFF;
    background-image: url(../img/grid-18px-masked.png);
    background-repeat: repeat-x;
}

hr { margin-bottom: 12px; }
h2 { font-weight: 300; font-size: 24px;}
li { font-size: 16px; }

.hero-unit {
    color: #005790;
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 0px;
}

.hero-unit h1 {
    color: #005790;
    font-size: 30px;
    font-weight: 500;
    line-height: 36px;
    text-shadow: -5px 5px 5px rgba(0,0,0, 0.3);
}

.hero-unit .small_font, .small_font { font-size: 14px; }
.p_font { font-size: 14px; padding-top: 5px; text-align: center; }
.address { font-size:18px; text-align: center; }
.thumbnail { width: 97%; }

#welcome_section { padding: 40px; padding-top: 20px; background-color: transparent; }
#pricing_section { padding: 30px; }
#vend_list { font-weight: 200; }
